@model PersonnelCreateVM

<form asp-action="Index" asp-controller="Personnel" method="post">
    <input type="text" asp-for="Name" />
    <input type="text" asp-for="Surname" />
    <button>Send</button>
</form>
