@* EmailTagHelper'ı kullanmak için Razor View dosyasına aşağıdaki kodu ekleyebiliriz: *@
<mail mail="test@example.com" display="Bize Ulaşın"></mail>

@* Bu kod çalıştırıldığında, aşağıdaki HTML'ye dönüşür: *@
@* <a href="mailto:test@example.com">Bize Ulaşın</a> *@
